/.vscode
/.vs
/EXE
/Library/*
/Logs
/obj
/ProjectSettings/*
/Temp
/UserSettings
.vsconfig
Assembly-CSharp.csproj
*.sln
*.zip
*.7z
*.rar
/Assets/TextMesh Pro/Documentation
!/ProjectSettings/TagManager.asset
!/ProjectSettings/Physics2DSettings.asset
!/ProjectSettings/EditorBuildSettings.asset
/Packages/*
!/Packages/manifest.json
/Web
!/Library/PackageCache
/Library/PackageCache/**/
!/Library/PackageCache/dev.yarnspinner.unity@2.2.1
