/.vscode
/.vs
/EXE
/Library
/Logs
/obj
/ProjectSettings/*
/Temp
/UserSettings
.vsconfig
Assembly-CSharp.csproj
*.sln
*.zip
*.7z
*.rar
/Assets/TextMesh Pro/Documentation
!/ProjectSettings/TagManager.asset
!/ProjectSettings/Physics2DSettings.asset
Packages/packages-lock.json
/Web
Packages/packages-lock.json
